/* src/RecipeFinder.css */

.recipe-finder {
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.search-bar {
    margin-bottom: 25px;
}

input[type="text"] {
    padding: 12px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 7px 10px;
    background-color:#007bff;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #037af9ef;
}
.recipe-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
}

.recipe-list li {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-list h2 {
    margin-top: 0;
    margin-bottom: 10px;

}

.recipe-list img {
    max-width: 100%;
    height: auto;
}

.recipe-list a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    align-self: flex-end;

}